.heading{
    display: inline-block;
    
 
    margin-left: 25px;
}
body{
    /* height: 650vh; */
}
.nav_bg{
    background-color: white;
    color: black !important;
    /* margin-top: 10px; */
    padding: 25px;
    /* display: inline-block; */
}
.icon_nav{
    /* justify-content: end !important; */
    align-items: center;
    display: inline-block;
/* margin-left: 280px; */
}
.nav-link{
     color: black!important;
    font-weight: 500;

}
.nav_ui{
    margin-left: 0px;
}
/* 1st session start */
.carousel_div{
    color: black !important;
    background-color: white;
    width: 30%;
     top: 10%;
     height: 50%;
     border: none !important;
     
     
     /* width: auto; */
}
.btn{
    border: none;
}
.font_class{
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}
.font{
    font-size: 50px;
    justify-content: center;
    text-align: center;
}
 .font_Div:hover {
    color: grey;
}
.blog_btn{
    justify-content: center !important;
    align-items: center !important;
    height: 50px !important;
    width: 200px !important;
    margin-left: 680px !important;
    margin-top: 20px !important;
}

.blog_div h1{
    display: inline-block;
    /* justify-content: center !important;
    align-items: center !important; */
    margin-left: 250px !important;
}























































/* <!-- footer   --> */
.footer{
    margin-top: 80px !important;
    background-color: black !important;
    color: white;
    height: 300px !important;
    width: 100%;  
    align-items: center;
    justify-content: space-between;
    /* margin-left: 50px !important; */
}
.icon{
    padding: 5px !important;
}

/* <!-- end footer  --> */
.endfooter{
    background-color: black !important;
    color: white !important;
    justify-content: space-between !important;
}.heading{
    display: inline-block;
    
 
    margin-left: 25px;
}
body{
    /* height: 650vh; */
}
.nav_bg{
    background-color: white;
    color: black !important;
    /* margin-top: 10px; */
    padding: 25px;
    /* display: inline-block; */
}
.icon_nav{
    /* justify-content: end !important; */
    align-items: center;
    display: inline-block;
/* margin-left: 280px; */
}
.nav-link{
     color: black!important;
    font-weight: 500;

}
.nav_ui{
    margin-left: 0px;
}
/* 1st session start */
.carousel_div{
    color: black !important;
    background-color: white;
    width: 30%;
     top: 10%;
     height: 50%;
     border: none !important;
     
     
     /* width: auto; */
}
.btn{
    border: none;
}
.font_class{
    justify-content: center;
    text-align: center;
    background-color: black;
    color: white;
    font-size: 20px;
}
.font{
    font-size: 50px;
    justify-content: center;
    text-align: center;
}
 .font_Div:hover {
    color: grey;
}

































/* <!-- footer   --> */
.footer{
    margin-top: 80px !important;
    background-color: black !important;
    color: white;
    height: 300px !important;
    width: 100%;  
    align-items: center;
    justify-content: space-between;
    /* margin-left: 50px !important; */
}
.icon{
    padding: 5px !important;
}

/* <!-- end footer  --> */
.endfooter{
    background-color: black !important;
    color: white !important;
    justify-content: space-between !important;
}